<div class="product">

<li id='name'>{{product.name}}</li>
<li id='desc'>{{product.description}}</li>
<li id='price'>{{product.price}}</li>
<button {{action 'addToCart' product}}>Add to Cart</button>
<br>
</div>
